body{
    background-color: LightGrey;
}

h1{
    color: Gray;
    font-style:normal;
    font-weight: bold;
}

p{
    color:black;
    font-family:sans-serif;
    font-size: 12px;
}

h3{
    color: black;
   

img {
    border-radius: 200px;
    
}